body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.header img {
    max-height: 50px;
}

.header h1 {
    font-size: 24px;
    color: #02717A;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
}

.section h1, .section h2, .section p {
    font-family: 'Montserrat', sans-serif;
}

.section {
    padding: 20px;
    margin-top: 20px;
}

.footer {
    background-color: #e0f7fa;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #02717A;
    color: #02717A;
}

.nav-link {
    color: #02717A;
}

.nav-link:hover {
    color: #02717A;
}

.nav-messages
{
    float: left;
    width: 200px;
    height: 800px;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.btn-outline-primary {
    color: #02717A;
    border-color: #02717A;
}

.btn-outline-primary:hover {
    background-color: #02717A;
    color: #ffffff;
}

.btn-primary {
    background-color: #02717A;
    border-color: #02717A;
}

.btn-primary:hover {
    background-color: #02717A;
    border-color: #02717A;
}

.hidden { display: none; }

.col-md-4 h2 {
    font-size: 24px;
    color: #02717A;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
}

.col-md-8 h1 {
    font-size: 24px;
    color: #02717A;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
}

.list-group-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
}

.list-group-item-action {
    transition: background-color 0.3s ease-in-out;
}

.list-group-item-action:hover {
    background-color: #f8f9fa;
}

.d-flex .w-100 {
    align-items: center;
}

.d-flex .justify-content-between h5 {
    font-size: 16px;
    color: #02717A;
}

.d-flex .justify-content-between small {
    font-size: 12px;
    color: #999;
}
