/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.header img {
    max-height: 50px;
}

.header h1 {
    font-size: 24px;
    color: #02717A;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.section {
    padding: 20px;
    margin-top: 20px;
}

.footer {
    background-color: #e0f7fa;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #02717A;
    color: #02717A;
}

.nav-link {
    color: #02717A;
}

.nav-link:hover {
    color: #02717A;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.btn-outline-primary {
    color: #02717A;
    border-color: #02717A;
}

.btn-outline-primary:hover {
    background-color: #02717A;
    color: #ffffff;
}

.btn-primary {
    background-color: #02717A;
    border-color: #02717A;
}

.btn-primary:hover {
    background-color: #02717A;
    border-color: #02717A;
}

.nav-link px-2 link-secondary {
    color: #f80909;
}
.hidden { display: none; }